VITE_API_BASE_URL=http://localhost:3000/api # Backend API URL
VITE_TURNSTILE_ENABLED=false # true if you set TURNSTILE_ENABLED=true on backend
VITE_TURNSTILE_SITE_KEY=1x00000000000000000000AA # Turnstile site key, get on https://dash.cloudflare.com/